<div class="navigator" [ngClass]="(getMenuCondition() == 'left close') ? 'navigator' : 'navigator closed'">
  <p class="active" (click)="chooseNav($event)">All</p>
  <p *ngFor="let category of categories.slice(1, 13)" (click)="chooseNav($event)">{{category.name}}</p>
</div>
<div class="separator"></div>
<div class="container">
  <app-video-item [videoType]="true"></app-video-item>
  <app-video-item [videoType]="true"></app-video-item>
  <app-video-item [videoType]="true"></app-video-item>
  <app-video-item [videoType]="true"></app-video-item>
  <app-video-item [videoType]="true"></app-video-item>
</div>
