<div class="left">
  <div class="menu">
    <div class="menu_btn" (click)="menuClose($event)">
      <img src="/assets/svg/menu.svg" class="btn" alt="menu">
      <img src="/assets/soltube.gif" class="logo" alt="soltube-logo">
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/home" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/home.svg" alt="home">
            <img src="/assets/svg/home-active.svg" alt="home-active">
          </div>
          <p>Home</p>
        </a>
      </li>
      <li>
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/subscriptions.svg" alt="subscriptions">
            <img src="/assets/svg/subscriptions-active.svg" alt="subscriptions-active">
          </div>
          <p>Subscriptions</p>
        </a>
      </li>
    </ul>
    <div class="separator"></div>
    <ul>
      <li>
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/history.svg" alt="history">
            <img src="/assets/svg/history-active.svg" alt="history-active">
          </div>
          <p>History</p>
        </a>
      </li>
      <li>
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/playlist.svg" alt="playlist">
            <img src="/assets/svg/playlist-active.svg" alt="playlist-active">
          </div>
          <p>Playlists</p>
        </a>
      </li>
      <li class="closing">
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/watch-later.svg" alt="watch-later">
            <img src="/assets/svg/watch-later-active.svg" alt="watch-later-active">
          </div>
          <p>Watch later</p>
        </a>
      </li>
      <li class="closing">
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/liked.svg" alt="liked">
            <img src="/assets/svg/liked-active.svg" alt="liked-active">
          </div>
          <p>Liked videos</p>
        </a>
      </li>
    </ul>
    <div class="separator"></div>
    <div class="left_block">
      <p>SUBSCRIPTION</p>
      <ul>
        <li class="subscriptions">
          <a href="">
            <img src="/assets/wylsacom.jpg" alt="">
            <p>Wylsacom</p>
          </a>
        </li>
        <li class="subscriptions">
          <a href="">
            <img src="/assets/mr-beast.jpg" alt="">
            <p>MrBeast</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="separator"></div>
    <ul>
      <li>
        <a href="/settings" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/settings.svg" alt="settings">
            <img src="/assets/svg/settings-active.svg" alt="settings-active">
          </div>
          <p>Settings</p>
        </a>
      </li>
      <li class="closing">
        <a href="" (click)="selectScreen($event)">
          <div class="icons">
            <img src="/assets/svg/help.svg" alt="help">
            <img src="/assets/svg/help-active.svg" alt="help-active">
          </div>
          <p>Help</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="right">
  <header>
    <div class="empty"></div>
    <div class="search">
      <input type="text" placeholder="Search video by title">
      <img src="/assets/svg/search.svg" alt="search">
    </div>
    <div *ngIf="isAuthorized == null" class="authorization">
      <a href="/sign-in">Sign in</a>
      <a href="/sign-up">Sign up</a>
    </div>
    <div *ngIf="isAuthorized != null" class="authorized">
      <a href="/video-upload">
        <div class="icons">
          <img src="/assets/svg/video-add.svg" alt="video-add">
          <img src="/assets/svg/video-add-active.svg" alt="video-add-active">
        </div>
      </a>
      <a href="">
        <div class="icons notif">
          <img src="/assets/svg/notifications.svg" alt="notifications">
          <img src="/assets/svg/notifications-active.svg" alt="notifications-active">
        </div>
      </a>
      <a href="/profile" class="user_link" [ngClass]="user.avatar == '/assets/avatar.png' ? 'user_link default' : 'user_link'">
        <img src="{{user.avatar}}" alt="">
      </a>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
