<div *ngIf="videoType" class="video-item" [ngClass]="(getMenuCondition() == 'left close') ? 'video-item' : 'video-item close'">
  <a routerLink="/watch">
    <img src="/assets/video-item.png" class="preview" alt="">
    <p class="duration">17:48</p>
  </a>
  <div class="item_nav">
    <div class="nav_left">
      <a routerLink="/chanel"><img src="/assets/abramov.jpg" alt=""></a>
      <div class="chanel_info">
        <a *ngIf="getMenuCondition() == 'left close'" routerLink="">{{title.substring(0, 29)}} ...</a>
        <a *ngIf="getMenuCondition() == 'left'" routerLink="">{{title.substring(0, 28)}}...</a>
        <a routerLink="/chanel" class="chanel_link">
          <p>{{chanel.substring(0, 8)}}</p>
          <div class="video_data">
            125K views <p>|</p> 2 years ago
          </div>
        </a>
      </div>
    </div>
    <div class="nav_right">
      <img src="/assets/svg/more.svg" alt="more" class="more_open_btn" (click)="openMoreWindow($event)">
      <div class="more_open">
        <a routerLink="">
          <img src="/assets/svg/playlist-add.svg" alt="">
          <p style="margin-top: -1px">Add to playlist</p>
        </a>
        <a routerLink="">
          <img src="/assets/svg/watch-later.svg" alt="">
          <p style="margin-top: 1px">Watch later</p>
        </a>
        <a routerLink="" (click)="openShareWindow($event)">
          <img src="/assets/svg/share.svg" class="share" alt="">
          <p style="margin-top: 1px">Share</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!videoType" class="recommended_item" [ngClass]="(getMenuCondition() == 'left close') ? 'recommended_item' : 'recommended_item close'">
  <a routerLink="" class="req_cover">
    <img src="/assets/video-cover.webp" alt="">
  </a>
  <div class="rec_right">
    <div class="req_info">
      <a routerLink="">
        <p *ngIf="getMenuCondition() == 'left close'" class="req_title">{{title2.substring(0, 42)}} ...</p>
        <p *ngIf="getMenuCondition() == 'left'" class="req_title">{{title2.substring(0, 38)}} ...</p>
      </a>
      <a routerLink="">
        <p class="req_chanel">{{chanel2.substring(0, 8)}}</p>
        <div class="req_data">
          125K views <p>|</p> 2 years ago
        </div>
      </a>
    </div>
    <div class="nav_right">
      <img src="/assets/svg/more.svg" alt="more" class="more_open_btn" (click)="openMoreWindow($event)">
      <div class="more_open">
        <a routerLink="">
          <img src="/assets/svg/playlist-add.svg" alt="">
          <p style="margin-top: -1px">Add to playlist</p>
        </a>
        <a routerLink="">
          <img src="/assets/svg/watch-later.svg" alt="">
          <p style="margin-top: 1px">Watch later</p>
        </a>
        <a (click)="openShareWindow($event)" style="cursor: pointer">
          <img src="/assets/svg/share.svg" class="share" alt="">
          <p style="margin-top: 1px">Share</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="share_window" (click)="closeShareWindow($event)">
  <div class="to_share">
    <div class="share_top">
      <p>Share</p>
      <img src="/assets/svg/close.svg" class="close_share" alt="close-share-window">
    </div>
    <div class="available_links">
      <a href="" >
        <div class="png_img">
          <img src="/assets/share/to-instagram.svg" alt="to-instagram">
        </div>
        <p>Instagram</p>
      </a>
      <a href="">
        <div>
          <img src="/assets/share/to-whatsapp.png" alt="to-whatsapp">
        </div>
        <p>WhatsApp</p>
      </a>
      <a href="">
        <div>
          <img src="/assets/share/to-vk.jpg" alt="to-vk">
        </div>
        <p>VK</p>
      </a>
      <a href="">
        <div class="png_img">
          <img src="/assets/share/to-telegram.png" alt="to-telegram">
        </div>
        <p>Telegram</p>
      </a>
      <a href="">
        <div>
          <img src="/assets/share/to-mail.png" alt="to-mail">
        </div>
        <p>Email</p>
      </a>
    </div>
    <div class="separator"></div>
    <div class="share_link">
      <input type="text" disabled>
      <button (click)="copyToClipboard($event)">Copy</button>
    </div>
  </div>
</div>

<p class="successfully_copied">
  The link is copied to the clipboard
</p>
