<div class="container">
  <p class="error"></p>
  <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm.value, $event)">
    <div class="return_back" (click)="returnBack()">
      <img src="/assets/svg/arrow.svg" alt="arrow">
      Return back
    </div>
    <div class="title">
      <p>Sign Up</p>
      <p>to continue to SolTube</p>
    </div>
    <div class="input_block">
      <input name="firstname" type="text" ngModel placeholder="Enter first name">
      <label>First name</label>
    </div>
    <div class="input_block">
      <label>Last name</label>
      <input name="lastname" type="text" ngModel placeholder="Enter last name">
    </div>
    <div class="input_block">
      <label>Username</label>
      <input name="username" class="username_input" (keyup)="existUsername()" type="text" ngModel placeholder="Enter username">
      <p class="username_exist">
        A user with this
        <span style="text-decoration: underline;">username</span>
        already exists
      </p>
    </div>
    <div class="input_block password">
      <label>Password</label>
      <input name="password" type="password" ngModel placeholder="Enter password">
      <div class="show_hide_btn hide">
        <img src="/assets/svg/show-password.svg" (click)="showHidePassword(false, $event)" class="show_btn" alt="show-password">
        <img src="/assets/svg/hide-password.svg" (click)="showHidePassword(true, $event)" class="hide_btn" alt="hide-password">
      </div>
    </div>
    <div class="input_block password">
      <label>Password verification</label>
      <input name="passwordVerify" ngModel type="password" placeholder="Enter password again">
      <div class="show_hide_btn hide">
        <img src="/assets/svg/show-password.svg" (click)="showHidePassword(false, $event)" class="show_btn" alt="show-password">
        <img src="/assets/svg/hide-password.svg" (click)="showHidePassword(true, $event)" class="hide_btn" alt="hide-password">
      </div>
    </div>
    <button type="submit">Sign up</button>
    <a routerLink="/sign-in" class="link">Already have an account? <p>Sign in</p></a>
  </form>
</div>
