<ul> 
    <li *ngFor="let company of companies"> 
      <fieldset style="display: block; position: relative; width: max-content; text-align:justify;"> 
        {{company.id}} - {{company.name}} <br><br> 
     
        <button (click)="getVacanciesOfCompany(company.id)">Show Vacancies</button> 
        <button (click)="deleteCompany(company.id)">X</button> 
      </fieldset><br> 
    </li> 
  </ul> 
   
  <ul> 
    <li *ngFor="let vacancy of vacancies"> 
      {{vacancy.id}} - {{vacancy.name}}<br> 
      <button (click)="deleteVacancy(vacancy.id)">X</button> 
    </li> 
  </ul>
<router-outlet></router-outlet>
